@model YolGecenHani.Models.AdminModel.UserRoleBadgeModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string UserImage = String.IsNullOrEmpty(Model.User.Image) ? "default-user.jpg" : Model.User.Image;
}


<script src="~/Content/Admin/assets/js/deneme.js"></script>
<div class="content-page">
    <div class="content">
        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-12">
                                    <h4 class="header-title" style="float:left"> @Model.User.UserName</h4>

                                    <a href="~/Admin/User" class="btn btn-success waves-effect waves-light" style="float:right!important"><i class="fa fa-chevron-left"></i> Back To List</a>
                                </div>
                            </div>
                            <img src="~/Content/Admin/assets/images/users/@UserImage" class="rounded-circle img-thumbnail mb-3" width="200" />

                            <form method="post" enctype="multipart/form-data">
                                <div id="basicwizard">
                                    <div class="tab-content b-0 mb-0 pt-0">
                                        <div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="row mb-3">
                                                        <label class="col-md-3 col-form-label" for="Image">Image</label>
                                                        <div class="col-md-9">
                                                            <input type="file" class="form-control" id="Image" name="Image">
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label class="col-md-3 col-form-label" for="RegisterDate">Register Date</label>
                                                        <div class="col-md-9">
                                                            <label class="col-form-label">@Model.User.RegisterDate</label>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label class="col-md-3 col-form-label" for="UserName">Username</label>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control" id="UserName" name="UserName" value="@Model.User.UserName">
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label class="col-md-3 col-form-label" for="Email">Email</label>
                                                        <div class="col-md-9">
                                                            <input type="email" class="form-control" id="Email" name="Email" value="@Model.User.Email">
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label class="col-md-3 col-form-label" for="RoleId">Role</label>
                                                        <div class="col-md-9">
                                                            <select name="RoleId" id="RoleId" class="form-control">
                                                                <optgroup>
                                                                    <option value="@Model.User.RoleId">@Model.User.Role.Name</option>
                                                                </optgroup>
                                                                @foreach (var role in Model.Role)
                                                                {
                                                                    <option value="@role.Id">@role.Name</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label class="col-md-3 col-form-label" for="MoneyPoint"> Money Point</label>
                                                        <div class="col-md-9">
                                                            <input type="number" step="0.01" min="0.00" max="2500.00" id="MoneyPoint" name="MoneyPoint" class="form-control" value="@Model.User.MoneyPoint.ToString().Replace(",",".")">
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label class="col-md-3 col-form-label" for="Money"> Money</label>
                                                        <div class="col-md-9">
                                                            <input type="number" step="0.01" min="0" id="Money" name="Money" class="form-control" value="@Model.User.Money.ToString().Replace(",",".")">
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label class="col-md-3 col-form-label" for="Phone"> Phone</label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="Phone" name="Phone" class="form-control" value="@Model.User.Phone">
                                                        </div>
                                                    </div>

                                                    <div class="row mb-3">
                                                        <label class="col-md-3 col-form-label" for="Name"> Name</label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="Name" name="Name" class="form-control" value="@Model.User.Name">
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label class="col-md-3 col-form-label" for="Surname"> Surname</label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="Surname" name="Surname" class="form-control" value="@Model.User.Surname">
                                                        </div>
                                                    </div>

                                                    <div class="row mb-3">
                                                        <label class="col-md-3 col-form-label" for="BirthDay"> Birth Day</label>
                                                        <div class="col-md-9">
                                                            <input type="date" id="BirthDay" name="BirthDay" class="form-control" value="@(Model.User.BirthDay.ToString("yyyy-MM-dd"))">
                                                        </div>
                                                    </div>

                                                    <div class="row mb-3">
                                                        <label class="col-md-3 col-form-label" for="Gender"> Gender</label>
                                                        <div class="col-md-9">
                                                            <select id="Gender" name="Gender" class="form-control">
                                                                <optgroup>
                                                                    <option>@Model.User.Gender</option>
                                                                </optgroup>
                                                                <option>Male</option>
                                                                <option>Female</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label class="col-md-3 col-form-label" for="Password"> Password <a class="btn btn-danger btn-xs" id="generatePassword" onclick='gp()'>Generate Password</a></label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="Password" name="Password" class="form-control" value="@Model.User.Password">
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label class="col-md-3 col-form-label" for="ErrorPasswordEntry"> Error Password Entry</label>
                                                        <div class="col-md-9">
                                                            <input type="number" id="ErrorPasswordEntry" name="ErrorPasswordEntry" min="0" max="3" class="form-control" value="@Model.User.ErrorPasswordEntry">
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label class="col-md-3 col-form-label" for="IsActive"> IsActive</label>
                                                        <div class="col-md-9">
                                                            <input class="check-box" data-val="true" id="IsActive" name="IsActive" type="checkbox" value="true" checked="@Model.User.IsActive">
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label class="col-md-3 col-form-label" for="Status"> Status</label>
                                                        <div class="col-md-9">
                                                            <input class="check-box" data-val="true" id="Status" name="Status" type="checkbox" value="true" checked="@Model.User.Status">
                                                        </div>
                                                    </div>
                                                    <p class="text-warning">@ViewBag.Mesaj</p>
                                                </div> <!-- end col -->
                                            </div> <!-- end row -->
                                        </div>
                                        <ul class="list-inline wizard mb-0">
                                            <li class="previous list-inline-item">
                                                <button type="submit" class="btn btn-success">Edit User</button>
                                            </li>
                                        </ul>
                                    </div> <!-- tab-content -->
                                </div> <!-- end #basicwizard-->
                            </form>
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col -->
            </div>


        </div> <!-- container -->
    </div> <!-- content -->
</div>


